/* Jacob Boyett
CSS page
Dev: 9-8-26
Date Tested: 9-8-26
Southern Illinois University
*/
body {
    width: 725px; /* Fixed width of the page */
    background-color: #FFCCCC;   /* This a light red color */
    margin: 0px auto; /* Centers the entire page */
}

main {
    width: 50%; /* Fixed width of the main column */
    height: 500px; /* Fixed height of the main column */
    background-color: #CCFFCC; /* This is a light green color */
    float: left; /* Fixes main column to the left */
}

aside {
    width: 50%; /* Fixed width of the aside 2nd column */
    height: 500px; /* Fixed height of the aside 2nd column */
    background-color: #CCE5FF; /* This is a light blue color */
    float: right; /* Fixes aside 2nd column to the right */
}

h1, h2 {
    padding: 10px; /* Space between the headers and the border */
}

p {
    padding-left: 5px; /* Space between the paragraph and text (left) */
    padding-right: 5px; /* Space between the paragraph and text (right) */
}

ul {
    padding-left: 10px; /* Space between the bullet and text */
}

li {
    padding-left: 10px;  /* Space between the bullet and text */
}

img {
    position: static; /* Default position of image */
}
/* class to give the image border */
.blue_border img {
    border: 2px solid #B5D3E7; /* Solid light blue border */
    margin: 0; /* Removes external spacing around the image */
    padding: 0; /* Removes internal spacing around the image */
    border-radius: 50px; /* Gives the image rounded corners */
    position: center; /* Lets image be moved by top and right offsets */
    right: 10px; /* Shifts image 10 pixels left from position */
    top: 10px; /* Shifts image 10 pixels downward from position */
}
