/* Jacob Boyett
CSS page
Dev: 9-8-26
Date Tested: 9-8-26
Southern Illinois University
media queries and nav styling from Jeff Miller github
*/

/* tablet portrait layout 2042px wide or smaller */
@media only screen and (max-width: 2024px) { 
    #mobile_menu { 
        display: none; 
    }    
}
/* tablet portrait layout 959px wide or smaller */
@media only screen and (max-width: 959px) { 
    #mobile_menu { 
        display: none; 
    } 
}
 
/* mobile landscape layout 767px wide or smaller */ 
@media only screen and (max-width: 767px) { 
    #mobile_menu { 
        display: block; 
    }
    #nav_menu { 
        display: none; 
    }

    main, aside {
        width: 100%;
        float: none;
        height: auto;
    }

    header h2 { 
        font-size: 1.375em; /* 22 ÷ 16 */ 
    }

    header h3 { 
        font-size: .8125em; /* 13 ÷ 16 */
    }

    p { 
        font-size: .875em; /* 14 ÷ 16 */
    }             
    article h1, main h2, aside h2 { 
        font-size: 1em; /* base font size */
    }              
    aside li { 
        font-size: .875em; /* 14 ÷ 16 */
    }     
    
}

/* mobile portrait layout 479px wide or smaller */
@media only screen and (max-width: 479px) { 
    #mobile_menu { 
        display: block; 
    }
    #nav_menu { 
        display: none; 
    }
    header h2 { 
        font-size: 1.375em; 
    }    
    header h3 { 
        font-size: .8125em; 
    }    
    p { 
        font-size: .875em; 
    }             
    article h1, main h2, aside h2 { 
        font-size: 1em; 
    }              
    aside li { 
        font-size: .875em; 
    }      
  
}

/* Styles for the elements */
body {
    max-width: 725px; /* Fixed max width of the page */
    width: 100%;
    background-color: #FFCCCC;   /* This a light red color */
    margin: 0px auto; /* Centers the entire page */
}

main {
    width: 50%; /* Fixed width of the main column */
    height: 500px; /* Fixed height of the main column */
    background-color: #CCFFCC; /* This is a light green color */
    float: left; /* Fixes main column to the left */
}

aside {
    width: 50%; /* Fixed width of the aside 2nd column */
    height: 500px; /* Fixed height of the aside 2nd column */
    background-color: #CCE5FF; /* This is a light blue color */
    float: right; /* Fixes aside 2nd column to the right */
}

h1, h2 {
    padding: 10px; /* Space between the headers and the border */
}

p {
    padding-left: 5px; /* Space between the paragraph and text (left) */
    padding-right: 5px; /* Space between the paragraph and text (right) */
}

ul {
    padding-left: 10px; /* Space between the bullet and text */
}

li {
    padding-left: 10px;  /* Space between the bullet and text */
}

/* Navigation menu style */ 
#nav_menu ul {
     list-style-type: none; 
     padding: 1em 0;
     font-size: 1.5em;
     text-align: left;
} 
#nav_menu ul li { 
    display: inline; 
    padding: 0 1em; 
} 
#nav_menu ul li a { 
    font-weight: bold; 
    color: #7254df; 
}
#nav_menu ul li a.current { 
    text-decoration: none; 
}

img {
    position: static; /* Default position of image */
}
/* class to give the image border */
.blue_border img {
    border: 2px solid #B5D3E7; /* Solid light blue border */
    margin: 0; /* Removes external spacing around the image */
    padding: 0; /* Removes internal spacing around the image */
    border-radius: 50px; /* Gives the image rounded corners */
    position: center; /* Centers image */
    right: 10px; /* Shifts image 10 pixels left from position */
    top: 10px; /* Shifts image 10 pixels downward from position */
}
